<!DOCTYPE html>
<html ng-app="myApp">
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
   
  

    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
<link rel="stylesheet" type="text/css" href="CSS/materialize.css">
<script src="JS/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<script type="text/javascript" src="JS/angular.min.js"></script>
<script type="text/javascript" src="JS/angular-route.min.js"></script>
<script type="text/javascript" src="JS/filtercontroller.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="JS/app.js"></script>
<script type="text/javascript" src="JS/controller.js"></script>
<script type="text/javascript" src="JSON/file.js"></script>
<script type="text/javascript" src="JSON/extra.js"></script>
<link href="CSS/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="CSS/style2.css" rel="stylesheet" type="text/css" />

  

</head>

<body ng-controller="AvengersCtrl">
  <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container">ROBO DB</a>
                <div  class="right hide-on-med-and-down nav-wrapper">
      <form>
        <div class="input-field">
          
          <input id="search" type="search" required ng-model="text">
          <label for="search" ng-click="search(text)"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          </div>
          <!--<div class="col-md-4" ng-show=true>No search result</div>ISSUE 1-->
        </div>
      </form>
    </div>
            <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>-->
            </div>
        </div>
    </nav>
</div>
  	<div ng-view>
  </div>
 
 <footer class="page-footer page-footer default_color scrollspy">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Made By Youstart</a>
            </div>
          </div>
        </footer>

 </body>
 </html> 